.login-page
{
width:400px;
padding:5% 0 0;
margin:auto;
height:15px;
}
.form2
{
position:relative;
z-index:1;
background:#ffffff;
max-width:400px;
margin:0 auto 100px;
padding:15px;
text-align:center;
box-shadow:0 0 20px 0 rgba(0,0,0,0.2),0,5px 5px 0 rgba(0,0,0,0.24);
}

.form2 input
{
font-family:"roboto",sans-serif;
outline:0;
background:#f2f2f2;
width:50%;
border:0;
margin:0 0 20px;
padding:7px;
box-sizing:border-box;
font-size:14px;
}


body {

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}